doctype html
html
	head
		title SAAS Robotics
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='build/build.css')
	body
		h1 SAAS Robotics
		h5 EasyC
		a.imageanchor(href='http://easyc.saasrobotics.com')
			img.scroll(src='images/easyc.jpg')
		h5 Engineering Notebook
		a.imageanchor(href='http://notebook.saasrobotics.com')
			img.scroll(src='images/notebook.jpg')
	script(src='https://code.jquery.com/jquery-1.10.1.min.js')
	// TODO
	//script.
	//	window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')
	script(src='build/build.js')