doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='build/build.css')
	body
		h1 SAAS Robotics
		h5 EasyC
		a.imageanchor(href='http://easyc.saasrobotics.com')
			img.scroll(src='images/easyc.jpg')
		h5 Engineering Notebook
		a.imageanchor(href='http://notebook.saasrobotics.com')
			img.scroll(src='images/notebook.jpg')
	script(src='http://code.jquery.com/jquery-1.10.1.min.js')
	script(src='build/build.js')