doctype html
html
	head
		style.
			h1, h2, h3, h4, h5, p
			{
			text-shadow: 0px 0px 1em rgb(255, 255, 255);
			color: rgb(255, 255, 221);
			text-align: center;
			font-family:"governor", Sans-Serif;
			}
			body
			{
			background-color: black;
			}
			.scroll
			{
			display: block;
			margin: 0 auto;
			opacity:0.6;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			width: 60%;
			-webkit-transition: all .5s linear;
			-o-transition: all .5s linear;
			-moz-transition: all .5s linear;
			-ms-transition: all .5s linear;
			-khtml-transition: all .5s linear;
			transition: all .5s linear;
			box-shadow: 10px 10px 50px #888888;
			}
			.scroll:hover
			{
			opacity:1;
			box-shadow: 10px 10px 100px #888888;
			}
	body
		h1 SAAS Robotics
		h5 EasyC
		a.imageanchor(href='http://easyc.saasrobotics.com')
			img.scroll(src='images/easyc.jpg')
		h5 Engineering Notebook
		a.imageanchor(href='http://notebook.saasrobotics.com')
			img.scroll(src='images/notebook.jpg')
	script(src='http://code.jquery.com/jquery-1.10.1.min.js')
	script.
		function ResizeButtons()
		{
		$(".scroll .imageanchor").css({"height" : window.innerHeight / 2.2});
		$(".scroll .imageanchor").css({"width" : window.innerWidth / 2.2});
		}
		$(document).ready(function()
		{
		ResizeButtons();
		$(window).resize(ResizeButtons());
		});
